= form_tag icu_ratings_path, method: "get", remote: true do
  = hidden_field_tag :per_page, params[:per_page]
  %table{class: "invisible"}
    %tr
      %th= label_tag :list, "List"
      %th= label_tag :last_name, "Last Name"
      %th= label_tag :first_name, "First Name"
      %th= label_tag :gender
      %th= label_tag :icu_id, "ICU ID"
      %th
    %tr
      %td= select_tag :list, options_for_select(icu_rating_list_menu("Any"), params[:list])
      %td= text_field_tag :last_name, params[:last_name], class: "centered", size: 10
      %td= text_field_tag :first_name, params[:first_name], class: "centered", size: 10
      %td= select_tag :gender, options_for_select(gender_menu("Any"), params[:gender])
      %td= text_field_tag :icu_id, params[:icu_id], class: "centered", size: 10
      %td= submit_tag "Search"
  %table{class: "invisible"}
    %tr
      %th= label_tag :club, "Club"
      %th= label_tag :fed, "Federation"
      %th= label_tag :type, "Rating Type"
      %th
    %tr
      %td= select_tag :club, options_for_select(club_menu, params[:club])
      %td= select_tag :fed, options_for_select(federation_menu(top: "IRL", none: "Any", unknown: "Unknown", foreign: "Foreign", irl_unk: "Ireland or Unknown"), params[:fed])
      %td= select_tag :type, options_for_select(rating_type_menu("Any"), params[:type])
  %table{class: "invisible"}
    %tr
      %th
        = label_tag :show_original, "show original ratings"
        = check_box_tag :show_original, "true", params[:show_original]      
