%table
  %tr
    %th Player
    %th List
    %th Rtng
    - if @show_original
      %th Orig
    %th Fed
    %th Club
  - width = 5 + (@show_original ? 1 : 0)
  - if @icu_ratings.count == 0
    %tr
      %td{colspan: width, class: "centered"} No matches
  - else
    - icu_id = Proc.new { |r| r.icu_id }
    - name   = Proc.new { |r| r.icu_player ? r.icu_player.name : r.icu_id.to_s }
    - list   = Proc.new { |r| year_month(r.list) }
    - fed    = Proc.new { |r| r.icu_player ? r.icu_player.fed.to_s : "" }
    - club   = Proc.new { |r| r.icu_player ? r.icu_player.club.to_s : "" }
    - @icu_ratings.matches.each_with_index do |r, i|
      %tr
        = render "shared/rowspan", rowspan: @icu_ratings.rowspan(i, icu_id, name), attrs: { title: r.icu_id }
        = render "shared/rowspan", rowspan: @icu_ratings.rowspan(i, list)
        %td{class: "#{r.type}"}= link_to r.rating, icu_rating_path(r, format: "js"), remote: true
        - if @show_original
          %td{class: "#{r.original_type}"}= r.original_rating
        = render "shared/rowspan", rowspan: @icu_ratings.rowspan(i, fed)
        = render "shared/rowspan", rowspan: @icu_ratings.rowspan(i, club)
  - if @icu_ratings.multi_page
    %tr
      %td{colspan: width, class: "centered"}= pagination_links(@icu_ratings)
