.header
  %span ICU Ratings

= render "search_form"

#icu_rating_results.turbaned
  = render "search_results"

= render "shared/ratings_graph/dialog.html"

#help
  %dl
    %dt What ratings are these?
    %dd
      These are the published ratings of ICU members from September 2001 to the present.
      Rating lists are published three times every year: January, May and September and
      only include subscribed ICU member at time of publication.
    %dt What are "provisional" and "full" ratings?
    %dd
      Until a player has 20 rated games their rating is considered provisional
      (indicated here by an italic font) and its calculation is based on average
      tournament performance. After 20 games a player is considered to have a full
      rating and its calculation is based on the Elo rating system.
    %dt Why is my old club not shown?
    %dd Unfortunately we only track a member's current club so that's all we can display here.
    %dt Why is my federation not shown?
    %dd
      It hasn't been recorded in the database yet. If we ever need to know it
      (e.g. for FIDE registration) we may assume Irish unless there is any
      doubt in which case we will contact you. Players with unknown federation,
      especially those with names that would pass as Irish but who are not actually
      Irish (e.g. English), are strongly encouraged to get in touch:
      = succeed(",") do
        = mail_to_icu :membership
      = succeed(".") do
        = mail_to_icu :ratings
    %dt How can I find out the ICU ID of a player?
    %dd Hover your mouse over their name.
    %dt Why do so many players have a rating of 700 but none below that?
    %dd
      In order not to discourage learners, the ICU has a policy of rounding up
      published ratings below 700. The real ratings stored in the database are
      unaffected by this policy.
    - unless current_user
      %dt Why are the ratings not linked to a graph of the player's historical rating?
      %dd You have to login for this feature.
