%table
  %tr
    %th
    %th
    %th Name
    %th Start
    %th Upload
    %th Reporter
  - if @tournaments.count == 0
    %tr
      %td{colspan: 6, class: "centered"} No matches
  - @tournaments.matches.each do |t|
    - stage = t.stage
    - status = t.status == "ok" ? "ok" : "problems"
    %tr
      %td= image_tag "icons/#{stage}.png", alt: stage, title: stage
      %td= image_tag "icons/#{status}.png", alt: status, title: status
      %td= link_to t.long_name, [:admin, t]
      %td= t.start
      %td= t.upload ? link_to(t.upload.created_at.strftime("%Y-%m-%d"), [:admin, t.upload]) : ""
      %td= t.user.name
  - if @tournaments.multi_page
    %tr
      %td{colspan: 6, class: "centered"}= pagination_links(@tournaments)
