.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "admin/tournaments/search/form"

#tournament_results
  = render "admin/tournaments/search/results"

#help
  %dl
    %dt What are the different stages a tournament can be at?
    %dd
      - Tournament::STAGE.each do |stage|
        %p
          = image_tag "icons/#{stage}.png", class: "inline", alt: t(stage)
          %b= t(stage)
          = "- #{t(stage, scope: :desc)}."
    %dt What are the different statuses a tournament can have?
    %dd
      - %w[ok problems].each do |status|
        %p
          = image_tag "icons/#{status}.png", class: "inline", alt: t(status)
          %b= t(status)
          = "- #{t(status, scope: :desc)}."
