.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "admin/tournaments/search/form"

#tournament_results
  = render "admin/tournaments/search/results"

#help
  %dl
    %dt All tournaments will be in one of the following stages:
    %dd
      - Tournament::STAGE.each do |stage|
        %p
          = icon_tag stage, t(stage), class: "inline"
          %b= t(stage)
          = "- #{t(stage, scope: :desc)}"
    %dt All tournaments will have one of the following statuses:
    %dd
      - %w[ok problems].each do |status|
        %p
          = icon_tag status, t(status), class: "inline"
          %b= t(status)
          = "- #{t(status, scope: :desc)}"
    %dt All tournaments will be either:
    %dd
      - %w[lock unlock].each do |lock|
        %p
          = icon_tag lock, t(lock), class: "inline"
          %b= t(lock)
          = "- #{t(lock, scope: :desc)}"
