.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "admin/tournaments/search/form"

#tournament_results
  = render "admin/tournaments/search/results"

#help
  %dl
    %dt What are the different stages a tournament can be at?
    %dd
      - Tournament::STAGE.each do |stage|
        %p
          = icon_tag stage, t(stage), class: "inline"
          %b= t(stage)
          = "- #{t(stage, scope: :desc)}"
    %dt What are the different statuses a tournament can have?
    %dd
      - %w[ok problems].each do |status|
        %p
          = icon_tag status, t(status), class: "inline"
          %b= t(status)
          = "- #{t(status, scope: :desc)}"
