.header
  %span= @page_title = @tournament.name_with_year

%table
  %tr.splitter
    %td#players
      = render "players"
    %td#tournament
      = render "tournament"

= render "shared/dialog", id: "update_tournament"
= render "shared/dialog", id: "export_tournament", width: 400, button: "Export", autoclose: true
= render "shared/dialog", id: "rank_tournament", width: 300, button: "OK"
- unless @tournament.status_ok?
  - html = render "shared/pipe_list", error: @tournament.status
  = render "shared/dialog", id: "status", button: false, cancel: "Dismiss", html: html

