- @page_title = "Log in"

= form_tag sessions_path, class: "simple-form" do
  .input
    = label_tag :email
    = text_field_tag :email, params[:email]
  .input
    = label_tag :password
    = password_field_tag :password
  .input
    = submit_tag "Log in"
    = link_to "Forgot password?", "#", class: "help-link note"

#help
  %dl
    %dt What email and password should I use to log in?
    %dd
      = succeed "." do
        The same ones you previously
        = link_to_icu "registered", "members/register.php"
        on the main
        = link_to_icu "ICU site"
    %dt I've forgotten my password, can you help me?
    %dd
      Please email the ICU
      = mail_to_icu(:admin)
      giving your name and PIN number and request that your password be reset.
      If the email address you used for your login is still in use, please send the message from that email.
      If you have a new email address you could, as an alternative to reseting your old password, just
      = link_to_icu "register", "members/register.php"
      a new login account (please note though that you may have to wait a day for this site to catch up with the change). See
      = link_to_icu "thses instructions", "articles/display.php?id=283"
      for more help.
    %dt What does "your account has not yet been activated" mean?
    %dd
      %p
        When you
        = link_to_icu "registered", "members/register.php"
        your ICU login account we sent you a confirmation email with a link. Your account
        would have been activated if you had received this message and clicked the link.
      %p
        If you don't have a record of this message (even in your spam folder) then please contact the
        = mail_to_icu(:admin)
        using the same email address as the one you chose for your login account and stating your PIN number.
    %dt If I don't yet have an account, how can I get one?
    %dd
      %p
        First,
        = link_to_icu "subscribe", "shop/subscribe.php"
        as a member of the ICU for the current season, if you haven't already done so.
        Then
        = link_to_icu "register an account", "members/newbies.php"
        and wait for it to sync with this site (it can take up to 24 hours).
      %p
        On the main site, there are
        = link_to_icu "detailed instructions", "articles/display.php?id=283"
        for becoming a member and setting up an account, if you need further help.
    %dt Do I need anything special to submit tournament reports?
    %dd
      Yes. Please request the
      = mail_to_icu
      to authorise your account.
