= form_tag juniors_icu_ratings_path, method: "get", id: handle_remote_id do
  %table{class: "invisible"}
    %tr
      %th= label_tag :under
      %th= label_tag :least, "At Least"
      %th= label_tag :date
      %th= label_tag :gender
      %th= label_tag :club
      %th
    %tr
      %td= select_tag :under, options_for_select(@juniors.under_menu, params[:under]), onchange: handle_remote
      %td= select_tag :least, options_for_select(@juniors.least_menu, params[:least]), onchange: handle_remote
      %td= select_tag :date, options_for_select(@juniors.date_menu, params[:date]), onchange: handle_remote
      %td= select_tag :gender, options_for_select(gender_menu("Any"), params[:gender]), onchange: handle_remote
      %td= select_tag :club, options_for_select(club_menu(nil), params[:club]), onchange: handle_remote
      %td= submit_tag "Search"
