%table
  %tr
    %th
    %th Player
    %th Age
    %th G
    %th Club
    %th Rating
  - @juniors.ratings.each_with_index do |r, i|
    - p = r.icu_player
    %tr
      %td{class: "centered"}= i + 1
      %td= p.name
      %td{class: "centered"}= p.age(@juniors.date)
      %td= p.gender
      %td= p.club
      %td{class: "#{r.type}"}= link_to r.rating, icu_rating_path(r, format: "js"), remote: true
  - if @juniors.ratings.size == 0
    %tr
      %td{class: "centered", colspan: 6} No matches
