%table{class: "right-headers"}
  %tr
    - if can? :edit, @tournament
      %td{class: "floater top"}
        = link_to edit_admin_player_path(@player), remote: true do
          = image_tag "icons/edit.png", alt: "Update Player", title: "Update Player"
    %th Name
    %td= @player.name
  %tr
    - if can? :edit, @tournament
      %td{class: "floater top"}
        = link_to icu_players_path(player_id: @player.id, per_page: 10), remote: true do
          = image_tag "icons/search.png", alt: "Find ICU Player", title: "Find ICU Player"
    %th ICU ID
    %td= @player.icu_id
  %tr
    - if can? :edit, @tournament
      %td{class: "floater top", rowspan: 12}
        = link_to fide_players_path(player_id: @player.id, per_page: 10), remote: true do
          = image_tag "icons/search.png", alt: "Find FIDE Player", title: "Find FIDE Player"
    %th FIDE ID
    %td= @player.fide_id
  %tr
    %th Federation
    %td= @player.fed
  %tr
    %th Title
    %td= @player.title
  %tr
    %th Gender
    %td= @player.gender
  %tr
    %th Date of birth
    %td= @player.dob
  %tr
    %th ICU rating
    %td= @player.icu_rating
  %tr
    %th Elo rating
    %td= @player.fide_rating
  %tr
    %th Score
    %td{id: "score"}= score_html(@player.score, rounds: @player.results.size)
  %tr
    %th Tournament rank
    %td= @player.rank ? @player.rank.to_s + '/' + @tournament.players.size.to_s : ''
  %tr
    %th Player number
    %td= @player.num
  %tr
    %th Category
    %td= t @player.category, default: "Unclassified"
  %tr
    %th Status
    - if @player.status_ok?
      %td= @player.status
    - else
      %td{class: "error centered"}
        %a{href: "javascript: $('#dialog_status').dialog('open'); void(0)"} Problems
