%table{id: "results"}
  %tr
    %th R
    %th Opponent
    %th C
    %th S
    - if can? :edit, @tournament
      %td{class: "floater"}
  - 1.upto(@tournament.rounds) do |r|
    - result = @player.result_in_round(r)
    %tr
      %td= r
      - if result
        - o = result.opponent
        %td= link_to(o.name, [:admin, o]) if o
        %td{class: "centered"}= result.colour
        %td{class: "centered"}= score_html(result.score, rateable: result.rateable)
        - if can? :edit, @tournament
          %td{class: "floater"}
            = link_to edit_admin_result_path(result), remote: true do
              = image_tag "icons/edit.png", alt: "Edit"
      - else
        %td
        %td
        %td
        - if can? :edit, @tournament
          %td{class: "floater"}
            = link_to new_admin_result_path(player_id: @player.id, round: r), remote: true do
              = image_tag "icons/new.png", alt: "New"
  %tr{class: "left-headers"}
    %th{colspan: 3} Total
    %td{class: "centered"}= score_html(@player.score)
    - if can? :edit, @tournament
      %td{class: "floater"}
