- content_for :javascript do
  = render partial: "admin/results/update_rateable", formats: :js

%div.small-header
  %span
    = @player.name(false)
    = "-"
    = link_to @tournament.name, admin_tournament_path(@tournament)

- if @prev && @next
  %table{class: "cushioned"}
    %tr
      %td= link_to raw("&larr; #{@prev.last_name}"), [:admin, @prev]
      %td= link_to raw("#{@next.last_name} &rarr;"), [:admin, @next]

%table
  %tr.splitter
    %td#player
      = render "player"
    %td#results
      = render "results"

= render "shared/dialog", id: "update_player"
= render "shared/dialog", id: "search_icu_player", width: 1000, button: false
= render "shared/dialog", id: "search_fide_player", width: 1000, button: false
= icu_player_details_dialog
= fide_player_details_dialog
- html = render "shared/pipe_list", :error => @player.status
= render "shared/dialog", id: "status", button: false, cancel: "Dismiss", html: html


- if @tournament.stage == "rated"
  %table{class: "turbaned"}
    %tr
      %td= link_to "Member View", @player

#help
  %dl
    %dt What are the different player categories?
    %dd
      %ul
        %li
          %b ICU
          \- has an ICU ID and matching details in the ICU database
        %li
          %b Foreign
          \- has a federation and an Elo rating (preferably FIDE)
        %li
          %b New
          \- has no ICU ID or ratings
        %li
          %b Invalid
          \- all others, including players with IDs whose details don't match our records
