- content_for :javascript do
  = render "admin/results/update_rateable.js"

%div.small-header
  %span
    = @player.name(false)
    = "-"
    = link_to @tournament.name, admin_tournament_path(@tournament)

- if @prev && @next
  %table{class: "cushioned"}
    %tr
      %td= link_to raw("&larr; #{@prev.last_name}"), [:admin, @prev]
      %td= link_to raw("#{@next.last_name} &rarr;"), [:admin, @next]

%table
  %tr.splitter
    %td#player
      = render "player"
    %td#results
      = render "results"

= render "shared/dialog.html", id: "update_player"
= render "shared/dialog.html", id: "search_icu_player", width: 1000, button: false
= render "shared/dialog.html", id: "search_fide_player", width: 1000, button: false
= icu_player_details_dialog
= fide_player_details_dialog
- html = render "shared/pipe_list", :error => @player.status
= render "shared/dialog.html", id: "status", button: false, cancel: "Dismiss", html: html

#help
  %dl
    %dt What are the different player categories?
    %dd
      %ul
        %li
          %b ICU
          \- has an ICU ID and matching details in the ICU database
        %li
          %b Foreign
          \- has a federation and an Elo rating (preferably FIDE)
        %li
          %b New
          \- has no IDs or ratings
        %li
          %b Invalid
          \- any player whose details are invalid or inconsistent
