%table
  %tr
    %th Event
    %th Time Ago
    %th Secs
    %th OK
    %th{class: "floater"}
  - if @events.count == 0
    %tr
      %td{colspan: 4, class: "centered"} No matches
      %td{class: "floater"}
  - else
    - @events.matches.each do |event|
      %tr
        %td= event.name
        %td= time_ago_in_words(event.created_at, include_seconds: true)
        %td{class: "centered"}= event.time
        %td{class: "centered"}
          = icon_tag event.success ? "tick" : "exclamation", event.success ? "OK" : "problem"
        %td{class: "floater"}
          = link_to admin_event_path(event), remote: true do
            = icon_tag "show", "Show event details"
          = link_to admin_event_path(event), data: { confirm: "Are you sure you want to delete this event?" }, method: :delete do
            = icon_tag "bin", "Delete event"
  - if @events.multi_page
    %tr
      %th{class: "centered", colspan: 4}= pagination_links(@events)
      %th{class: "floater"}
