.header
  %span= @page_title = "Downloads"

%table
  %tr
    %th File Name
    %th Comment
    %th Content Type
    %th Size
    %th Created Ago
    %th Updated Ago
    - if can? :manage, Download
      %td{class: "floater"}
  - if @downloads.count == 0
    %tr
      %td{class: "centered", colspan: 6} None
      - if can? :manage, Download
        %td{class: "floater"}
  - else
    - @downloads.matches.each do |download|
      %tr
        %td= link_to download.file_name, download
        %td= download.comment
        %td= download.content_type
        %td= number_to_human_size(download.data.size)
        %td= time_ago_in_words(download.created_at, include_seconds: true)
        %td= time_ago_in_words(download.updated_at, include_seconds: true)
        - if can? :manage, Download
          %td{class: "floater"}
            = link_to edit_download_path(download) do
              = icon_tag "edit", "Edit Download"
            = link_to download, method: "delete", data: { confirm: "Are you sure you want to delete this download?" } do
              = icon_tag "bin", "Delete Download"
  - if @downloads.multi_page
    %tr
      %td{class: "centered", colspan: 6}= pagination_links(@downloads)
      - if can? :manage, Download
        %td{class: "floater"}

#help
  %dl
    %dt Should the latest published or the latest live ratings be imported into pairing applications?
    %dd
      Tournament controllers should make their own choice depending on what best suits their needs.
      - if @exports_article
        See this
        = link_to "article", @exports_article
        for more details.

