= form_for @article, html: { class: "simple-form wide short-labels" } do |f|
  - if @article.errors.any?
    = render "shared/errors", thing: @article, name: "article"
  .input
    = f.label :headline
    = f.text_field :headline, size: 80, maxlength: 256
  .input
    = f.label :identity
    = f.text_field :identity, size: 32, maxlength: 32
  .input
    = f.label :published
    = f.check_box :published, {}, "true", "false"
  .input
    = f.label :story
    = f.text_area :story, size: "80x20"
  .input
    = f.submit @article.new_record? ? "Create" : "Update"
    = f.submit "Cancel", class: "extra"
