= form_tag articles_path, method: "get", remote: true do
  = hidden_field_tag :per_page, 20
  - extra = can?(:create, Article)
  %table{class: "invisible"}
    %tr
      %th= label_tag :headline
      %th= label_tag :story
      %th= label_tag :order
      - if extra
        %th= label_tag :user_id, "Author"
        %th= label_tag :published
    %tr
      %td= text_field_tag :headline, params[:headline], class: "centered", size: 15
      %td= text_field_tag :story, params[:story], class: "centered", size: 15
      %td= select_tag :order, options_for_select([["created date", "created"], ["last updated date", "updated"]], params[:order] || "created")
      - if extra
        %td= select_tag :user_id, options_for_select(user_menu(:articles, "Any"), params[:user_id])
        %td= select_tag :published, options_for_select(published_menu("Any"), params[:published])
    %tr
      %td{colspan: 3 + (extra ? 2 : 0), class: "centered"}= submit_tag "Search"
