.header
  %span= @page_title = "Articles"

= render "search_form"

#articles.turbaned
  = render "search_results"

- if can? :create, Article
  #help
    %dl
      %dt Can I create articles?
      %dd
        Yes. Hover your mouse over the
        %em Article
        menu item under
        %em Home
        and then click the
        = link_to "New", new_article_path
        button that appears.
      %dt Can I edit or delete an article?
      %dd
        Yes, but only if you own it (normally this means if you created it).
        Just click the article title to view it and if you are able to edit or
        delete it there will be appropriate buttons just below the article.
      %dt What different states apply to articles?
      %dd
        %p
          = icon_tag "published", "published"
          The article is published and is visible to members.
        %p
          = icon_tag "unpublished", "unpublished"
          The article is still in draft form and is not accessible by members.
