- remote_only = false unless defined?(remote_only)
- handleRemote = handle_remote("fide_player_search")
= form_tag fide_players_path, method: "get", id: "fide_player_search", remote: remote_only do
  = hidden_field_tag :results
  = hidden_field_tag :per_page, params[:per_page]
  - if @player
    = hidden_field_tag :player_id, @player.id
  %table{class: "invisible"}
    %tr
      %th= label_tag :last_name, "Last Name"
      %th= label_tag :first_name, "First Name"
      %th= label_tag :fed, "Federation"
      %th
    %tr
      %td= text_field_tag :last_name, params[:last_name], onchange: handleRemote, class: "centered", size: 15
      %td= text_field_tag :first_name, params[:first_name], onchange: handleRemote, class: "centered", size: 10
      %td= select_tag :fed, options_for_select(federation_menu(top: "IRL", none: "Any"), params[:fed]), onchange: handleRemote
      %td= submit_tag "Search"
  %table{class: "invisible"}
    %tr
      %th= label_tag :gender
      %th= label_tag :title
      %th= label_tag :max_age, "Max Age"
      %th= label_tag :min_age, "Min Age"
      %th= label_tag :id, "FIDE ID"
      %th= label_tag :icu_id, "ICU ID"
      %th= label_tag :icu_match, "ICU Match"
    %tr
      %td= select_tag :gender, options_for_select(gender_menu("Any"), params[:gender]), onchange: handleRemote
      %td= select_tag :title, options_for_select(title_menu("Any"), params[:title]), onchange: handleRemote
      %td{class: "centered"}= text_field_tag :max_age, params[:max_age], onchange: handleRemote, class: "centered", size: 3, maxlength: 3
      %td{class: "centered"}= text_field_tag :min_age, params[:min_age], onchange: handleRemote, class: "centered", size: 3, maxlength: 3
      %td= text_field_tag :id, params[:id], onchange: handleRemote, class: "centered", size: 8, maxlength: 8
      %td= text_field_tag :icu_id, params[:icu_id], onchange: handleRemote, class: "centered", size: 6, maxlength: 6
      %td= select_tag :icu_match, options_for_select([["Any", ""], ["Yes", "true"], ["No", "false"]], params[:icu_match]), onchange: handleRemote
