= old_rating.rating
= precede("(") do
  = succeed("),") do
    - if old_rating.full
      full
    - else
      = "provisional over #{pluralize(old_rating.games, 'game')}"
inherited by the new ICU rating system (this web site) in
= t "system.new.start"
