- old_rating = @my_home.inherited_rating

%table#explanation
  %tr
    %td{class: "section", width: "500px"}
      - case
        - when !@my_home.published_icu_ratings? && !@my_home.recent_ratings? && !old_rating
          %p
            We appear not to have any records of rated games that you have played, so you currently have
            no ICU rating. If you play in some rated tournaments in the future, you will obtain a rating
            and be able to track its progress on this site.
          = render partial: "#{views}explain_rated_tournaments"
        - when !@my_home.published_icu_ratings? && !@my_home.recent_ratings? && old_rating
          %p
            We have no record of any published ratings for you or any recent rateable games.
            However we do have an old rating,
            = succeed(".") do
              = render partial: "#{views}explain_old_rating", locals: { old_rating: old_rating }
            If you play in rated tournaments in the future this will be your start rating
            and details of your tournament rating performances will appear here.
          = render partial: "#{views}explain_rated_tournaments"
        - when !@my_home.published_icu_ratings? && @my_home.recent_ratings?
          %p
            We do not appear to have any records of previous published ratings for you but your
            rating will be published in the next rating list. Ratings are published in September,
            January and May.
        - when @my_home.published_icu_ratings? && !@my_home.recent_ratings?
          %p
            Normally we would display details of your latest, best and worst tournaments here and also
            your top gains and losses in individual games. Unfortunately, we can only do this for
            tournaments played after
            = succeed(".") do
              = t "system.new.start"
            If you start playing again, then your rating progress can be tracked in detail on this site.
          = render partial: "#{views}explain_rated_tournaments"
      %p
        If you have any questions about the rating data we have for you, please contact the
        = succeed(".") do
          = mail_to_icu
      %p
        If you would like to see the details of other players' ratings, start by clicking
        = succeed(".") do
          = link_to "Tournaments", tournaments_path
          
