- players = @my_home.recent_trns

%table#recent_tournaments{class: "cushioned"}
  %tr
    %th{colspan: 3} Recent Tournaments
  - players.each do |player|
    %tr
      %td= link_to player.tournament.name_with_year, player
      - if player.old_rating
        %td{class: "centered"}
          = raw("#{player.old_rating} &rarr;")
          = player.new_rating
        %td{class: "righted"}= sign player.rating_change
      - else
        %td{class: "centered", colspan: 2}= "#{player.new_rating} (1st rating)"
  - if players.size < max
    - (players.size..max-1).each do |t|
      %tr
        %td{colspan: 3} &nbsp;
      