= form_for [:admin, @rating_list], remote: true do |f|
  %table{class: "right-headers noborder"}
    %tr
      %th= f.label :tournament_cut_off, "Tournament Cut-Off"
      %td= f.text_field :tournament_cut_off
    %tr
      %th= f.label :payment_cut_off, "Payment Cut-Off"
      %td= f.text_field :payment_cut_off
