.header
  %span= year_month(@rating_list.date, "mmm yyyy")

- next_list = @rating_list.next_list
- prev_list = @rating_list.prev_list
%table.cushioned
  %tr
    - if prev_list
      %td{class: "centered"}= link_to "← #{year_month(prev_list.date, 'mmm yyyy')}", [:admin, prev_list]
    %td= link_to "All Lists", admin_rating_lists_path
    - if next_list
      %td{class: "centered"}= link_to "#{year_month(next_list.date, 'mmm yyyy')} →", [:admin, next_list]

%table{class: "right-headers cushioned"}
  %tr
    %th Tournament Cut-Off Date
    %td#tournament_cut_off= @rating_list.tournament_cut_off
    %td{class: "floater", rowspan: 2}
      = link_to edit_admin_rating_list_path(@rating_list), remote: true do
        = icon_tag "edit", "Edit Cut-Off Dates"
  %tr
    %th Payment Cut-Off Date
    %td#payment_cut_off= @rating_list.payment_cut_off

%table{class: "cushioned"}
  %tr
    %td{class: "centered", colspan: 2}= link_to "Publish", admin_rating_list_publications_path(@rating_list), method: "post", remote: true

#publications
  = render "publications"

= render "shared/dialog", id: "update_rating_list", width: 300
= render "shared/dialog", id: "update_publication", width: 1000
= render "shared/dialog", id: "publication_report", width: 1000, button: false, cancel: "Dismiss"

#help
  %dl
    %dt What is the tournament cut-off date?
    %dd
      The last tournament to be included in the rating list is the last rated tournament
      that ends on or before this date. Tournaments which finish later will be included
      in the next list. This date can be adjusted but only within certain limits: it must
      fall within the same month as the rating list. The default value is the 15th of the month.
    %dt What is the payment cut-off date?
    %dd
      Only players who have paid their subscription for the season and done so on or before
      this date will appear in the rating list. It defaults to the end of the month but
      can be adjusted within limits: it must fall within the same month as the rating list
      or the month after.
    %dt Can a rating list be republished?
    %dd
      Yes, as many times as necessary. Common reasons for republishing lists are
      the rerating of tournaments in which errors have been corrected or the
      adjustment of cut-off dates to include more tournaments or more members.
    %dt Is there any reason why a publication would not be showing a Last Tournament?
    %dd
      The first publications for January and May 2012 were special in that the
      ratings were calculated by the old rating system, not the new one (this
      site), so they don't show a last tournament. Otherwise, the only other
      reason for a blank last tournament would be if the tournament had been
      deleted subsequent to the publication. In the rare case where the last
      publication for a rating list has no last tournament then it should
      be republished.
