.header
  %span= year_month(@rating_list.date, "mmm yyyy")

- next_list = @rating_list.next_list
- prev_list = @rating_list.prev_list
%table.cushioned
  %tr
    - if prev_list
      %td{class: "centered"}= link_to "← #{year_month(prev_list.date, 'mmm yyyy')}", [:admin, prev_list]
    %td= link_to "All Lists", admin_rating_lists_path
    - if next_list
      %td{class: "centered"}= link_to "#{year_month(next_list.date, 'mmm yyyy')} →", [:admin, next_list]

%table{class: "right-headers cushioned"}
  %tr
    %th Tournament Cut-Off Date
    %td#tournament_cut_off= @rating_list.tournament_cut_off
    %td{class: "floater", rowspan: 2}
      = link_to edit_admin_rating_list_path(@rating_list), remote: true do
        = icon_tag "edit", "Edit Cut-Off Dates"
  %tr
    %th Payment Cut-Off Date
    %td#payment_cut_off= @rating_list.payment_cut_off

%table{class: "cushioned"}
  %tr
    %td{class: "centered", colspan: 2}= link_to "Publish", admin_rating_list_publications_path(@rating_list), method: "post", remote: true

#publications
  = render "publications"

= render "shared/dialog", id: "update_rating_list", width: 300
= render "shared/dialog", id: "publication_report", width: 1000, button: false, cancel: "Dismiss"
