%table
  %tr
    %th Email
    %th Player
    %th Problem
    %th IP Address
    %th Time Ago
  - if @logins.count == 0
    %tr
      %td{colspan: 5, class: "centered"} No matches
  - else
    - @logins.matches.each do |login|
      %tr
        %td= link_to login.user.email, [:admin, login.user]
        - icu_player = login.user.icu_player
        - if icu_player
          %td= link_to icu_player.name, their_home_path(id: icu_player.id)
        - else
          %td{class: :error} None
        %td= login.problem
        %td= login.ip
        %td= time_ago_in_words(login.created_at, include_seconds: true)
  - if @logins.multi_page
    %tr
      %th{colspan: 5, class: "centered"}= pagination_links(@logins)
