%table{class: "right-headers"}
  %tr
    %th Tournament
    %td= link_to_if @tournament.site =~ /^http/, @tournament.name, @tournament.site, class: "external", target: "_external"
  %tr
    %th Start Date
    %td= @tournament.start
  - if @tournament.finish.present?
    %tr
      %th End Date
      %td= @tournament.finish
  %tr
    %th Rounds
    %td= @tournament.rounds
  - if @tournament.fed.present?
    %tr
      %th Federation
      %td= @tournament.fed
  - if @tournament.city.present?
    %tr
      %th City
      %td= @tournament.city
  - if @tournament.arbiter.present?
    %tr
      %th Arbiter
      %td= @tournament.arbiter
  - if @tournament.deputy.present?
    %tr
      %th Deputy
      %td= @tournament.deputy
  - if @tournament.time_control.present?
    %tr
      %th Time Control
      %td= @tournament.time_control
  - if @tournament.tie_breaks.present?
    %tr
      %th Tie Break Rules
      %td= @tournament.tie_breaks
  - if @tournament.upload
    %tr
      %th Reported
      %td= link_to_if can?(:read, @tournament.upload), @tournament.upload.created_at.strftime('%Y-%m-%d'), [:admin, @tournament.upload]
  %tr
    %th Reporter
    %td= mail_to @tournament.user.best_email, @tournament.user.name(false), encode: "javascript"
  %tr
    %th Status
    %td= t(@tournament.status == "ok" ? "ok" : "problems")
  %tr
    %th Stage
    %td= t(@tournament.stage)
  - if @tournament.rorder
    - if last_tournament = @tournament.last_tournament
      %tr
        %th Previous
        %td= link_to last_tournament.name_with_year, last_tournament
    - if next_tournament = @tournament.next_tournament
      %tr
        %th Next
        %td= link_to next_tournament.name_with_year, next_tournament
  - if @tournament.notes.present?
    %tr
      %th Notes
      %td= link_to(@tournament.notes_snippet, tournament_path(@tournament, notes: ""), remote: true) if @tournament.notes.present?

- if can? :modify, Tournament
  %table{class: "turbaned"}
    %tr
      %td= link_to "Admin View", [:admin, @tournament]
