%table{class: "right-headers"}
  %tr
    %th Name
    %td= link_to_if @tournament.site =~ /^http/, @tournament.name, @tournament.site, class: "external", target: "_external"
  %tr
    %th Start Date
    %td= @tournament.start
  %tr
    %th End Date
    %td= @tournament.finish
  %tr
    %th Rounds
    %td= @tournament.rounds
  %tr
    %th Federation
    %td= @tournament.fed
  %tr
    %th City
    %td= @tournament.city
  %tr
    %th Arbiter
    %td= @tournament.arbiter
  %tr
    %th Deputy
    %td= @tournament.deputy
  %tr
    %th Time Control
    %td= @tournament.time_control
  %tr
    %th Tie Break Rules
    %td{id: "show_tie_breaks"}= @tournament.tie_breaks
  - if @tournament.upload && can?(:read, @tournament.upload)
    %tr
      %th Upload
      %td= @tournament.upload ? link_to(@tournament.upload.created_at.strftime('%Y-%m-%d'), [:admin, @tournament.upload]) : ''
  %tr
    %th Reporter
    %td= @tournament.user.name
  %tr
    %th Status
    %td= @tournament.status == "ok" ? "ok" : "problems"
  %tr
    %th Stage
    %td= @tournament.stage

- if can? :modify, @tournament
  %table{class: "turbaned left"}
    %tr
      %td= link_to "Admin", [:admin, @tournament]
