.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "search_form"

#tournament_results
  = render "search_results"

#help
  %dl
    %dt What are the different stages a tournament can be at?
    %dd
      - Tournament::STAGE.reject{ |s| s == "initial" }.each do |stage|
        %p
          = image_tag "icons/#{stage}.png", class: "inline", alt: t(stage)
          %b= t(stage)
          = "- #{t(stage, scope: :desc)}"
