.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "search_form"

#tournament_results
  = render "search_results"

#help
  %dl
    %dt What tournaments are displayed here?
    %dd Tournaments whose reports have no issues and that have been rated or are ready for rating.
    %dt A tournament I played in recently is not listed. Why not?
    %dd
      The rating report for the tournament might not have be received yet,
      or it might have been received but have issues preventing the
      tournament being rated. Reporters are encouraged to submit as soon
      as possible after the tournament has finished but if a couple of weeks
      have gone by without the tournament appearing here, you may wish to
      contact the tournament organisers or the
      = mail_to_icu :ratings
      to find out what's happening.
    %dt How is a tournament's stage (rated, queued, ready) shown?
    %dd
      With a flag to the left of the table. If the tournament is rated
      (the most common stage) the flag is omitted, otherwise it will be either
      - ["ready", "queued"].each_with_index do |stage, i|
        = icon_tag stage, t(stage), class: "inline"
        = "(#{t(stage, scope: :desc)})"
        = "or" if i == 0
    %dt If I search for FIDE-rated tournaments, what will I get?
    %dd
      FIDE-rated tournaments, obviously, but only those that have been submitted (to FIDE, for rating) by the ICU.
      When these tournaments are displayed on this site, a link to their page on the FIDE web site is provided.
      Other tournaments that are both ICU and FIDE-rated but not submitted by the ICU, for example the Olympiad,
      or foreign tournaments with Irish participants, are not classed as FIDE-rated for search purposes.
    