%table
  %tr
    %th Player
    %th ICU ID
    %th Rating
    %th Games
    %th Type
  - if @old_ratings.count == 0
    %tr
      %td{colspan: 5, class: "centered"} No matches
  - else
    - @old_ratings.matches.each do |o|
      %tr
        %td= o.icu_player ? o.icu_player.name : ""
        %td= o.icu_id
        %td= o.rating
        %td= o.games
        %td= o.type
  - if @old_ratings.multi_page
    %tr
      %td{colspan: 5, class: "centered"}= pagination_links(@old_ratings)
