%table
  %tr
    %th Player
    - if @show_id
      %th ID
    - if @show_last
      %th= year_month(@last_list.date, "mmm-yy")
    %th Live
    %th G
    %th Fed
    %th Club
  - width = 5 + (@show_id ? 1 : 0) + (@show_last ? 1 : 0)
  - if @live_ratings.count == 0
    %tr
      %td{colspan: width, class: "centered"} No matches
  - else
    - fed    = Proc.new { |r| r.icu_player ? r.icu_player.fed.to_s : "" }
    - club   = Proc.new { |r| r.icu_player ? r.icu_player.club.to_s : "" }
    - @live_ratings.matches.each_with_index do |r, i|
      %tr
        %td{title: r.icu_id}= link_to_if can?(:their_home, ::Pages::MyHome), r.icu_player.name, their_home_path(id: r.icu_id)
        - if @show_id
          %td{class: "righted"}= r.icu_id
        - if @show_last
          %td{class: "centered #{r.last_type}"}= r.last_rating
        %td
          %span{class: "#{r.type}"}= r.rating
          - if r.last_rating && r.games > 0
            = "(#{sign(r.rating - r.last_rating)})"
        %td{class: "righted"}= r.games
        = render "shared/rowspan", rowspan: @live_ratings.rowspan(i, fed)
        = render "shared/rowspan", rowspan: @live_ratings.rowspan(i, club)
  - if @live_ratings.multi_page
    %tr
      %td{colspan: width, class: "centered"}= pagination_links(@live_ratings)
