- remote_only = false unless defined?(remote_only)
- handleRemote = handle_remote("icu_player_search")
= form_tag icu_players_path, method: "get", id: "icu_player_search", remote: remote_only do
  = hidden_field_tag :results
  = hidden_field_tag :per_page, params[:per_page]
  - if @player
    = hidden_field_tag :player_id, @player.id
  - elsif @fide_player
    = hidden_field_tag :fide_id, @fide_player.id
  %table{class: "invisible"}
    %tr
      %th= label_tag :last_name, "Last Name"
      %th= label_tag :first_name, "First Name"
      %th= label_tag :gender
      %th= label_tag :dob, "DOB"
      %th= label_tag :id, "ICU ID"
      %th= label_tag :order
      %th
    %tr
      %td= text_field_tag :last_name, params[:last_name], onchange: handleRemote, class: "centered", size: 15
      %td= text_field_tag :first_name, params[:first_name], onchange: handleRemote, class: "centered", size: 10
      %td= select_tag :gender, options_for_select(gender_menu("Any"), params[:gender]), onchange: handleRemote
      %td= text_field_tag :dob, params[:dob], onchange: handleRemote, class: "centered", size: 10
      %td= text_field_tag :id, params[:id], onchange: handleRemote, class: "centered", size: 6, maxlength: 6
      %td= select_tag :order, options_for_select([["Name", "default"], ["ID", "id"], ["Last Updated", "update"]], params[:order] || "default"), onchange: handleRemote
      %td= submit_tag "Search"
  %table{class: "invisible turbaned"}
    %tr
      %th= label_tag :club
      %th= label_tag :fed, "Federation"
      %th= label_tag :title
      %th= label_tag :max_age, "Max Age"
      %th= label_tag :min_age, "Min Age"
    %tr
      %td= select_tag :club, options_for_select(club_menu, params[:club]), onchange: handleRemote
      %td= select_tag :fed, options_for_select(federation_menu(top: "IRL", none: "Any", unknown: "Unknown", foreign: "Foreign", irl_unk: "Ireland or Unknown"), params[:fed]), onchange: handleRemote
      %td= select_tag :title, options_for_select(title_menu("Any"), params[:title]), onchange: handleRemote
      %td{class: "centered"}= text_field_tag :max_age, params[:max_age], onchange: handleRemote, class: "centered", size: 3, maxlength: 3
      %td{class: "centered"}= text_field_tag :min_age, params[:min_age], onchange: handleRemote, class: "centered", size: 3, maxlength: 3
  %table{class: "invisible turbaned"}
    %tr
      %th
        = label_tag :include_deceased, "include deceased"
        = check_box_tag :include_deceased, "1", params[:include_desceased], onchange: handleRemote
      %th
        = label_tag :include_duplicates, "include duplicates"
        = check_box_tag :include_duplicates, "1", params[:include_duplicates], onchange: handleRemote
