- content_for :head do
  = javascript_include_tag "rating_run"

.header
  %span Rating Run

%table{class: "turbaned right-headers"}
  %tr
    %th Status
    %td
      %span{id: "status", "data-id" => @rating_run.id}= @rating_run.status
      %span{id: "tictoc"}= icon_tag "wait.gif", "Working please wait", class: "inline"
  %tr
    %th Start time
    %td= @rating_run.created_at.to_s(:db)
  %tr
    %th Duration
    %td{id: "duration"}= @rating_run.duration
  - if @rating_run.start_tournament_name
    - t = @rating_run.start_tournament
    %tr
      %th Start tournament
      %td
        = link_to_if t, @rating_run.start_tournament_name, [:admin, t]
        = "(#{@rating_run.start_tournament_rorder})"
  - if @rating_run.last_tournament_name
    - t = @rating_run.last_tournament
    %tr
      %th Last tournament
      %td
        = link_to_if t, @rating_run.last_tournament_name, [:admin, t]
        = "(#{@rating_run.last_tournament_rorder})"
  %tr
    %th Reason
    %td#reason.small= @rating_run.reason
    %td.floater
      = link_to edit_admin_rating_run_path(@rating_run), remote: true do
        = icon_tag "edit", "Edit Reason"
  %tr
    %th User
    %td= @rating_run.user.name
  %tr
    %td{colspan: 2}
      %pre{id: "report"}= @rating_run.report

- if @rating_run.deletable?
  %table{class: "turbaned"}
    %tr
      %td{class: "centered"}
        = link_to "Delete", [:admin, @rating_run], data: { confirm: "Are you sure you want to delete this run?" }, method: :delete

= render "shared/dialog", id: "update_rating_run", title: "Update Reason for Rating Run", width: 800
