- content_for :head do
  = javascript_include_tag "rating_run"

.header
  %span Rating Run

%table{class: "turbaned right-headers"}
  %tr
    %th Status
    %td
      %span{id: "status", "data-id" => @rating_run.id}= @rating_run.status
      %span{id: "tictoc"}= icon_tag "wait.gif", "Working please wait", class: "inline"
  %tr
    %th Start time
    %td= @rating_run.created_at.to_s(:db)
  %tr
    %th Duration
    %td{id: "duration"}= @rating_run.duration
  - if @rating_run.start_tournament_name
    - t = @rating_run.start_tournament
    %tr
      %th Start tournament
      %td
        = link_to_if t, @rating_run.start_tournament_name, [:admin, t]
        = "(#{@rating_run.start_tournament_rorder})"
  - if @rating_run.last_tournament_name
    - t = @rating_run.last_tournament
    %tr
      %th Last tournament
      %td
        = link_to_if t, @rating_run.last_tournament_name, [:admin, t]
        = "(#{@rating_run.last_tournament_rorder})"
  %tr
    %th User
    %td= @rating_run.user.name
  %tr
    %td{colspan: 2}
      %pre{id: "report"}= @rating_run.report

%table{class: "turbaned"}
  %tr
    %td{class: "centered"}
      = link_to "Delete", [:admin, @rating_run], confirm: "Are you sure you want to delete this run?", method: :delete
