- content_for :head do
  %meta{name: "google-site-verification", content: APP_CONFIG["google_site_verification"]}

- if @ratings_graph.available?
  = render "ratings_graph", graph: @ratings_graph

%table{class: "sections"}
  %tr
    %td{class: "section"}
      %h2 Latest Tournaments
      %ul{class: "home"}
        - @tournaments.each do |t|
          %li
            = link_to t.name, t
        - if @tournaments.size == @limit
          %li= link_to "More...", tournaments_path
    %td{class: "section"}
      %h2 Latest Information
      %ul{class: "home"}
        - @articles.each do |n|
          %li
            = link_to n.headline, n
        - if @articles.size  == @limit
          %li= link_to "More...", articles_path

#help
  %dl
    %dt How can I see my published ratings?
    %dd
      - if !current_user
        Log in to see a graph of your published ICU and FIDE ratings.
      - elsif @ratings_graph.available?
        They are graphed on this page.
      - else
        You don't have any published ratings yet.
      You can search for your own and other players' published ratings here:
      = succeed(',') do
        = link_to "ICU", icu_ratings_path
      = succeed('.') do
        = link_to "FIDE", fide_ratings_path
    %dd
    - if @ratings_graph.available?
      %dt Is there a way to read off my exact rating from any point in the graph?
      %dd Hover your mouse over the point.
    %dt How can I see full details of my latest rating?
    %dd
      This functionality is still in development and should be ready before September 2012.
    %dt How can I submit a tournament for rating?
    %dd
      - if !current_user
        First log in, then click Help again.
      - elsif can? :create, Upload
        Click Tournament &rarr; New.
      - else
        Please ask the
        = mail_to_icu
        to authorize your account for submissions.
    - unless current_user
      %dt How can I log in?
      %dd
        Go to the
        = link_to "Log in", log_in_path
        page where there is further help if you need it.
