%tr
  %th First rating
  %td{class: "centered"}= @player.new_rating
  %td= explain_new_rating(@player)
= render "more_info"
%tr
  %th Games count
  %td{class: "centered"}= @player.new_games
  %td= explain_new_games(@player)

