= render "more_info"
= render "player_type"
%tr
  %th Rating
  %td{class: "centered"}= @player.old_rating
  %td= "FIDE or other Elo"
%tr
  %th Performance
  %td{class: "centered"}= @player.trn_rating
  %td= explain_trn_rating(@player)
