%table{class: table_class}
  = render "more_info"
  = render "player_type"
  %tr
    %th Rating
    %td= @player.old_rating
    %td= "FIDE or other Elo"
  %tr
    %th Performance
    %td= @player.trn_rating
    %td= explain_trn_rating(@player)
