%tr
  %th= t "ratings.old_rating"
  %td{class: "centered"}= @player.old_rating
  %td= render "last_player"
%tr
  %th= t "ratings.kfactor"
  %td{class: "centered"}= @player.k_factor
  %td= t "ratings.k#{@player.k_factor}_html"
- if @player.bonus.to_i > 0
  %tr
    %th= t "ratings.bonus"
    %td{class: "centered"}= @player.bonus
    %td
%tr
  %th= t "ratings.change"
  %td{class: "centered"}= sign(@player.rating_change)
  %td= explain_full_change(@player)
%tr
  %th= t "ratings.new_rating"
  %td{class: "centered"}= @player.new_rating
  %td= explain_full_rating(@player)
= render "more_info"
%tr
  %th= t "ratings.performance"
  %td{class: "centered"}= @player.trn_rating
  %td= explain_trn_rating(@player)
%tr
  %th= t "ratings.new_games"
  %td{class: "centered"}= @player.new_games
  %td= explain_full_games(@player)
