%table{class: "cushioned"}
  %tr
    %td= link_to @tournament.name_with_year, @tournament
    - unless @player.category == "foreign_player"
      - if @player.new_rating
        %td
          = "#{@player.old_rating} →" if @player.old_rating
          = @player.new_rating
        %td= @player.old_rating ? sign(@player.rating_change) : "new rating"
