= render "results"

%table{class: table_class}
  %tr
    %th{class: "centered", colspan: 3}= t "ratings.no_games"
  - if @player.old_rating || @player.old_games
    %tr
      %th= t "ratings.old_rating_games"
      %td= @player.old_rating
      %td= @player.old_games
  - if @player.new_rating || @player.new_games
    %tr
      %th= t "ratings.new_rating_games"
      %td= @player.new_rating
      %td= @player.new_games
