%div.header
  %span= @player.name(false)

= render "headline"

%table{class: "cushioned"}
  %tr{class: "splitter"}
    %td= render "results"
    %td
      %table{class: "right-headers"}
        = render case
          - when @player.rateable_games == 0 then "no_rateable_games"
          - when @player.unrateable          then "unrateable_games"
          - else @player.category

= render "prev_next_links"

- if can? :modify, Tournament
  %table{class: "turbaned"}
    %tr
      %td= link_to "Admin View", [:admin, @player]

#help
  %table{class: "right-headers note"}
    %tr
      %th{class: "centered", colspan: 2} Definitions
    %tr
      %th= t "ratings.new_rating"
      %td Rating after the tournament (rounded)
    %tr
      %th= t "ratings.old_rating"
      %td Rating from last tournament played or inherited from old rating system
    %tr
      %th= t "ratings.new_games"
      %td Total number of rated games after the tournament
    %tr
      %th= t "ratings.old_games"
      %td Total number of rated games before the tournament
    %tr
      %th= t "ratings.change"
      %td Change in rating (rounded)
    %tr
      %th= t "ratings.performance"
      %td Performance rating (a.k.a. tournament rating)
    %tr
      %th= t "ratings.bonus"
      %td Bonus (only applicable to ICU players with full ratings)
    %tr
      %th= t "ratings.results.round"
      %td Round numbers
    %tr
      %th= t "ratings.results.opponent"
      %td Opponents' names
    %tr
      %th= t "ratings.results.rating"
      %td Opponents' ratings (see below) and average
    %tr
      %th= t "ratings.results.result"
      %td Results against opponents and total (for rated games)
    %tr
      %th= t "ratings.results.expected"
      %td Expected scores and sum
    %tr
      %th= t "ratings.results.change"
      %td Change in rating per game and overall (all rounded)
  %table{class: "turbaned note"}
    %tr
      %th{colspan: 2} Opponent's rating
    %tr
      %td ICU player with full rating and no bonus
      %td Old rating
    %tr
      %td ICU player with full rating and bonus
      %td{rowspan: 4} New rating
    %tr
      %td ICU player with provisional rating
    %tr
      %td ICU player with no rating
    %tr
      %td Non-ICU player with no rating
    %tr
      %td Foreign player
      %td FIDE or Elo equivalent rating
  %table{class: "turbaned note"}
    %tr
      %th{colspan: 2} Other
    %tr
      %td= t "ratings.no_rateable_games"
      %td A player who has no rateable games (e.g. only byes or walkovers) cannot be rated
    %tr
      %td= t "ratings.unrateable_games"
      %td Group of players without full ratings who only play each other cannot be rated
