%table
  %tr
    %th File
    %th Reporter
    %th Format
    %th Date
    %th Tournament
  - if @uploads.count == 0
    %tr
      %td{colspan: 5, class: "centered"} No matches
  - @uploads.matches.each do |u|
    %tr
      %td= link_to u.name, [:admin, u]
      %td= u.user.name
      %td= u.format
      %td= u.created_at.strftime('%Y-%m-%d')
      %td= u.tournament ? link_to(u.tournament.name, [:admin, u.tournament]) : ''
  - if @uploads.multi_page
    %tr
      %td{colspan: 5, class: "centered"}= pagination_links(@uploads)

%table{class: "turbaned"}
  %tr
    %td
      = link_to "New Upload", new_admin_upload_path
