- content_for :title, "File Upload"
- content_for :javascript do
  = render "new.js"

.header
  %span File Upload

= form_for [:admin, @upload], html: {multipart: true, class: "simple-form"} do |f|
  - if @upload.errors.any?
    = render partial: "shared/errors", locals: { thing: @upload, name: "upload" }
  .input
    = f.label :format, "File format"
    = f.select :format, options_for_select(upload_format_menu, Upload::DEFAULT_FORMAT)
  .input
    = label_tag :file, "File to upload"
    = file_field_tag :file
  .input
    = label_tag :name, "Tournament name"
    = text_field_tag :name, nil, size: 20
  .input
    = label_tag :start, "Tournament start date"
    = text_field_tag :start, nil, size: 10
  .input
    = label_tag :feds, "Federations"
    = select_tag :feds, options_for_select([["Skip if invalid", "skip"], ["Error if invalid", ''], ["Ignore all", "ignore"]])
  .input
    = label_tag :round_dates, "Round dates"
    = select_tag :round_dates, options_for_select([["Error if invalid", ''], ["Ignore", "ignore"]])
  .input
    = label_tag :ratings, "Ratings"
    = select_tag :ratings, options_for_select(%w[ICU FIDE].map { |r| [r, r] })
  .input
    = f.submit "Upload"

#help
  %dl
    %dt What type of files can I upload?
    %dd
      The types listed in the
      %em File format
      menu. Help on each supported format is available below - use the menu to show the help for each.
    %dt{class: "SwissPerfect"} Swiss Perfect
    %dd{class: "SwissPerfect"}
      = image_tag "help/swiss_perfect.png", align: "right", alt: "Example of Swiss Perfect files in a ZIP archive", class: "left-padded"
      %p
        Put all three Swiss Perfect files (INI, SCO and TRN) into
        an otherwise empty ZIP archive and upload that file.
        See the illustrative example on the right.
      %p
        Since Swiss Perfect has no way to specify the start date of the tournament, please specify it in the
        %em Tournament start date
        input.
    %dt{class: "SPExport"} Swiss Perfect Export
    %dd{class: "SPExport"}
      = image_tag "help/spexport.png", align: "right", alt: "Part of file exported from Swiss Perfect", class: "left-padded"
      %p
        This type of file is produced by Swiss Perfect via
        %em File &rarr; Export View &rarr; As Text
        and can be uploaded as long as the options of
        %em tab separators,
        %em formatted output
        and
        %em include column headers
        are all selected when the file is saved.
      %p Since these files are missing the tournament name and the start date, please specify both in the upload form.
    %dt{class: "Krause"} FIDE (Krause)
    %dd{class: "Krause"}
      = image_tag "help/krause.png", align: "right", alt: "Part of a FIDE (Krause) formatted report", class: "left-padded"
      %p
        This
        = link_to "format", "http://www.fide.com/component/content/article/5-whats-news/2245-736-general-data-exchange-format-for-tournament-results", target: "_fide_com"
        is used by FIDE for rating reports and was developed by Christian Krause, a FIDE arbiter.
      %p
        It can only represent ratings and IDs from one source, so please specify which using the menu provided.
        In practice, some applications that export this format have a tendancy to produce invalid federation codes
        and/or invalid round dates, so please also indicate what action should be taken in the event of any such issues.
    %dt{class: "ForeignCSV"} ICU Foreign Tournament Report
    %dd{class: "ForeignCSV"}
      = image_tag "help/foreign_csv.png", align: "right", alt: "Part of an ICU foreign tournament report", class: "left-padded"
      %p
        = succeed "." do
          See the
          = link_to_icu "specification", "articles/display.php?id=172"
          and this
          = link_to_icu "exemplary report", "articles/display.php?id=316"
      %p
        Only plain text files are supported so, if you're using a spreadsheet application (e.g. Excel),
        export the spreadsheet to CSV (comma separated values) and then upload the exported file.
        
