= form_tag admin_tournaments_path, method: "get", remote: true do
  = hidden_field_tag :per_page, params[:per_page]
  %table{class: "invisible"}
    %tr
      %th{colspan: 7, class: "underlined"} Tournament
    %tr
      %th= label_tag :name, "Name"
      %th= label_tag :year, "Year"
      %th= label_tag :status, "Status"
      %th= label_tag :stage, "Stage"
      %th= label_tag :locked, "Lock"
      %th= label_tag :user_id, "Reporter"
      %th= label_tag :fide_rated, "FIDE"
    %tr
      %td= text_field_tag :name, params[:name], class: "centered", size: 20
      %td= text_field_tag :year, params[:year], class: "centered", size: 4
      %td= select_tag :status, options_for_select(tournament_status_menu("Any"), params[:status])
      %td= select_tag :stage, options_for_select(tournament_stage_menu("Any"), params[:stage])
      %td= select_tag :locked, options_for_select(tournament_lock_menu("Any"), params[:locked])
      %td= select_tag :user_id, options_for_select(user_menu(:tournaments, "Any"), params[:user_id])
      %td= select_tag :fide_rated, options_for_select(fide_rated_menu("Any"), params[:fide_rated])
  %table{class: "invisible"}
    %tr
      %th{colspan: 3, class: "underlined"} Player
    %tr
      %th= label_tag :last_name, "Last Name"
      %th= label_tag :first_name, "First Name"
      %th= label_tag :icu_id, "ICU ID"
    %tr
      %td= text_field_tag :last_name, params[:last_name], class: "centered", size: 15
      %td= text_field_tag :first_name, params[:first_name], class: "centered", size: 10
      %td= text_field_tag :icu_id, params[:icu_id], class: "centered", size: 10
  %table{class: "invisible turbaned"}
    %tr
      %td= submit_tag "Search"
