%table
  %tr
    %th{class: "floater"}
    %th
    %th
    %th
    %th #
    %th Name
    %th Start
    %th Reporter
  - if @tournaments.count == 0
    %tr
      %td{class: "floater"}
      %td{colspan: 6, class: "centered"} No matches
  - @tournaments.matches.each do |t|
    - stage = t.stage
    - status = t.status == "ok" ? "ok" : "problems"
    %tr
      %td{class: "floater"}
        - if t == @next_for_rating
          = icon_tag "next_for_rating", "Next Tournament for Rating"
      %td= icon_tag stage, t(stage)
      %td= icon_tag status, t(status)
      %td= icon_tag t.locked ? "lock" : "unlock", t.locked ? "Locked" : "Unlocked"
      %td= t.rorder
      %td= link_to t.name, [:admin, t]
      %td= t.start
      %td= t.user.name
  - if @tournaments.multi_page
    %tr
      %td{class: "floater"}
      %td{colspan: 6, class: "centered"}= pagination_links(@tournaments)
