= form_for [:admin, @user], :remote => true do |f|
  %table{:class => "right-headers noborder"}
    %tr
      %th= f.label :role
      %td= f.select :role, role_menu
    %tr
      %th= f.label :preferred_email
      %td= f.text_field :preferred_email, :size => 40
