= form_tag admin_users_path, method: "get", id: handle_remote_id do
  = hidden_field_tag :per_page, params[:per_page]
  %table{class: "invisible"}
    %tr
      %th= label_tag :last_name
      %th= label_tag :first_name
      %th= label_tag :email
      %th= label_tag :status
      %th= label_tag :role
      %th= label_tag :icu_id, "ICU ID"
      %th
    %tr
      %td= text_field_tag :last_name, params[:last_name], onchange: handle_remote, class: "centered", size: 15
      %td= text_field_tag :first_name, params[:first_name], onchange: handle_remote, class: "centered", size: 15
      %td= text_field_tag :email, params[:email], onchange: handle_remote, class: "centered", size: 15
      %td= select_tag :status, options_for_select(user_status_menu("Any"), params[:status]), onchange: handle_remote
      %td= select_tag :role, options_for_select(role_menu("Any"), params[:role]), onchange: handle_remote
      %td= text_field_tag :icu_id, params[:icu_id], onchange: handle_remote, class: "centered", size: 10
      %td= submit_tag "Search"
