- @page_title = "User Details"
.header
  %span= @user.email

%table{class: "right-headers cushioned"}
  %tr
    %th Email
    %td= @user.email
    - if can? :manage, User
      %td{class: "floater"}
        = link_to edit_admin_user_path(@user), remote: true do
          = icon_tag "edit", "Edit User"
  %tr
    %th Preferred Email
    %td{id: "user_preferred_email"}= @user.preferred_email
  %tr
    %th Player
    - if @user.icu_player
      %td= link_to @user.icu_player.name, their_home_path(id: @user.icu_id)
    - else
      %td{class: :error} None
  %tr
    %th ICU ID
    %td= link_to_if @user.icu_player, @user.icu_id, @user.icu_player, remote: true
  %tr
    %th Status
    %td{id: "user_status"}= @user.status
  %tr
    %th Expiry Date
    %td= @user.expiry
  %tr
    %th Role
    %td{id: "user_role"}= @user.role

%table
  %tr
    %td= link_to "Logins by this User", admin_logins_path(email: @user.email)
    %td{class: "floater"}
      = link_to admin_logins_path(email: @user.email) do
        = icon_tag "search", "Search Logins by Email"
  %tr
    %td= link_to "Logins by this Player", admin_logins_path(icu_id: @user.icu_id)
    %td{class: "floater"}
      = link_to admin_logins_path(email: @user.icu_id) do
        = icon_tag "search", "Search Logins by Player"
  - if can? :manage, User
    %tr
      %td= link_to "Login as this User", sessions_path(email: @user.email, password: @user.password), method: :post
      %td{class: "floater"}

= icu_player_details_dialog
= render "shared/dialog", id: "update_user", width: 600

#help
  %dl
    %dt What is a user's preferred email?
    %dd
      The order of precedence for establishing which email to use for sending messages from the
      ratings web application to users is as follows:
      %ol
        %li user's preferred email (if it exists)
        %li member's email (if it exists)
        %li login email
      Note that the preferred email only exists in the ratings database. The other two emails also exist in
      the main ICU database, and are regularly synced from that database to the ratings database.
