- if @war.available?
  - if @war.lists[:icu] && @war.lists[:fide]
    %p{class: "centered note"}
      - [:icu, :fide].each do |type|
        - lists = @war.lists[type]
        = "#{type.to_s.upcase}:"
        = succeed type == :icu ? ";" : "" do
          = lists.map{ |l| year_month(l, "mmm-yy") }.join(", ")
  %table
    %tr
      %th{rowspan: 2}
      %th{rowspan: 2} Player
      - @war.types.each do |t|
        %th{colspan: @war.years}= t.upcase
      %th{rowspan: 2} WAR
    %tr
      - @war.types.each do |t|
        - @war.lists[t].each do |l|
          %th= l.year
    - @war.players.each_with_index do |row, i|
      %tr
        %td{class: "centered"}= i + 1
        %td= row.player.name
        - @war.types.each do |t|
          - @war.lists[t].each do |l|
            %td= row.send(t)[l]
        %td= link_to row.average.round, graph_icu_player_path(row.player, format: "js"), remote: true
- else
  .flash
    %span{class: "alert"} Insufficient data
