- if @war.available?
  %table
    %tr
      %th{rowspan: 2}
      %th{rowspan: 2} Player
      - @war.types.each do |t|
        %th{colspan: @war.years}= t.upcase
      %th{rowspan: 2} WAR
    %tr
      - @war.types.each do |t|
        - @war.lists[t].each do |l|
          %th= l.year
    - @war.players.each_with_index do |row, i|
      %tr
        %td{class: "centered"}= i + 1
        %td= link_to row.player.name, graph_icu_player_path(row.player, format: "js"), remote: true
        - @war.types.each do |t|
          - @war.lists[t].each do |l|
            %td= row.send(t)[l]
        %td= row.average.round
- else
  .flash
    %span{class: "alert"} Insufficient data
