= image_tag "misc/logo.png", alt: "ICU Logo", title: "ICU Logo", size: "100x100"
%h1 ICU Ratings

- if admin? && Rails.root.join("public", "system", "maintenance.html").exist?
  #maintenance Maintenance Mode

%ul.sf-menu
  %li
    = link_to "Home", home_path
    %ul
      %li
        = link_to "News", news_items_path
        - if can? :create, NewsItem
          %ul
            %li= link_to "New", new_news_item_path
      %li= link_to "Contacts", contacts_path
  %li
    = link_to "Tournaments", tournaments_path
    - if can?(:manage, Upload) || can?(:read, OldTournament)
      %ul
        - if can? :create, Upload
          %li= link_to "New", new_admin_upload_path
        - if can? :read, Tournament
          %li= link_to "Admin", admin_tournaments_path
        - if can? :read, Upload
          %li= link_to "Uploads", admin_uploads_path
        - if can? :read, OldTournament
          %li= link_to "Old", admin_old_tournaments_path
  %li
    = link_to "Ratings", icu_ratings_path
    %ul
      %li= link_to "Top Juniors", juniors_icu_ratings_path
      %li= link_to "Top Improvers", improvers_icu_ratings_path
      %li= link_to "WAR", war_icu_ratings_path
      %li
        = link_to "FIDE", fide_ratings_path
        %ul
          %li= link_to "Federations", federations_path
      - if can?(:read, OldRating)
        %li= link_to "Legacy", admin_old_ratings_path
  - if can? :read, IcuPlayer
    %li
      = link_to "Players", icu_players_path
      %ul
        %li= link_to "FIDE", fide_players_path
  - if can? :read, Download
    %li
      = link_to "Admin", overview_path
      %ul
        - if can? :read, User
          %li= link_to "Users", admin_users_path
        - if can? :read, Event
          %li= link_to "Events", admin_events_path
        - if can? :read, Failure
          %li= link_to "Failures", admin_failures_path
        - if can? :read, Login
          %li= link_to "Logins", admin_logins_path
        %li
          = link_to "Downloads", downloads_path
          - if can? :create, Download
            %ul
              %li= link_to "New", new_download_path
        - if can? :system_info, ::Pages::SystemInfo
          %li= link_to "System Info", system_info_path
  %li= link_to "Help", "#", id: "help-link", class: "emphasize"
  %li
    - if current_user
      = link_to "Log out", log_out_path
    - else
      = link_to "Log in", log_in_path
  - if current_user
    %li
      = link_to current_user.icu_player do
        = icon_tag current_user.role, "#{current_user.name} (#{t(current_user.role, count: 1)})"
