!!!
%html
  %head
    = render "layouts/head"
  %body
    #header
      = render "layouts/header"
    #content
      = flash_messages
      = yield
    #footer
      = render "layouts/footer"
  = image_tag "misc/beta-badge.png", alt: "beta-badge", id: "beta-badge"
